.guide-button {
  border-color: bisque;
  background-color: bisque;
}

.guide-main-button {
  width: 9em;
  height: 4em;
  margin-left: 0.5em;
}

.guide-profile-button {
  height: 4em;
  width: 9em;
  margin-left: 37em;
}

.guide-text {
  text-align: center;
  font-size: 2em;
}

.guide-border {
  border: 2px solid bisque;
  margin: 2em 2em;
  padding: 1em;
}

.guide-mainbox {
  width: 57.5em;
  margin: 2em 2em 5em 1em;
  border: 2px solid bisque;
  height: 1.5em;
  padding-top: 1.5em;
}

.guide-shadow {
  text-shadow: 2px 4px 2px yellowgreen;
  color: bisque;
  padding: 2em;
  height: 75em;
}

.guide-area {
  margin: 5em 2em;
  border: 2px solid bisque;
}