.qna-main-button {
  width: auto;
  height: auto;
  font-size: 3.5em;
  border: white;
  background-color: white;
  text-shadow: 2px 2px 2px rgb(243, 185, 68);
  color: rgb(198, 138, 18);
  margin: 0em 0em 1em 0.4em;
}

.qna-profile-button {
  width: 3em;
  margin-left: 78.7em;
  margin-right: 0em;
}

.qna-text {
  text-align: center;
  font-size: 2em;
}

/* .qna-border {
  border: 2px solid bisque;
  margin: 2em 2em;
  padding: 1em;
} */

.qna-mainbox {
  width: 57.5em;
  margin: 2em 2em 5em 1em;
  border: 2px solid bisque;
  height: 1.5em;
  padding-top: 1.5em;
}

.qna-shadow {
  text-shadow: 2px 4px 2px yellowgreen;
  color: bisque;
  border-bottom: 2px solid bisque;
  padding: 2em;
}

.qna-area {
  margin: 5em 2em;
  border: 2px solid bisque;
}

.qna-input {
  margin-top: 2em;
  margin-bottom: 2em;
}

.qna-input-text {
  border-radius: 5px;
  box-shadow: 5px 5px 5px 5px whitesmoke  ;
  margin: 2em;
}

.qna-input-text-1 {
  margin: 1em;
}

.qna-input-text-2 {
  font-size: 1.75em;
  margin: 1em;
}

.qna-input-text-3 {
  font-size: 1.5em;
  margin: 1em;
}

.none {
  display: none;
}

.block {
  display: block;
  margin: 1em ;
  margin-top: 3em;
  text-align: center;
  font-size: 2em;
}

.qna-input-button {
  width: 17.5em;
  height: 2em;
  font-size: 1.2em;
  border: none;
  margin: 0.5em 1em 0.5em;
  border-radius: 2em;   
  float: left;
}

.qna-question-block1 {
  height: 5em;
  border-radius: 2em;
  box-shadow: 5px 5px 5px 5px whitesmoke  ;
  width: 100em;
  margin: 1.5em 1em;
}