.my-main-button {
  width: auto;
  height: auto;
  font-size: 3.5em;
  border: white;
  background-color: white;
  text-shadow: 2px 2px 2px rgb(243, 185, 68);
  color: rgb(198, 138, 18);
  margin: 0em 0em 1em 0.4em;
}

.my-isIcon {
  margin: 1em 0em 0em 0em;
  width: 3.5em;
  /* margin-left: 4em; */
}

.my-profile-button {
  width: 3em;
  margin-left: 78.7em;
  margin-right: 0em;
}

.my-mainbox {
  margin: 2em 2em 0em 2em ;
  border: 2px solid bisque;
}

.my-sidebar {
  width: 20em;
  margin-top: 0em;
  float: left;
}

.my-sidebutton {
  width: 10em;
  height: 6em;
  font-size: 2em;
  background-color: white;
  border: white;
}

.my-page-input {
  width: 90em;
  display: inline-block;
  border-left: 2px solid bisque;
}

.my-input-text {
  font-size: 2em;
  margin: 2em 2em 0.5em 2em;
}

.input-box {
  width: 20em;
  height: 3.5em;
  margin: 0em 0em 2em 5em;
}

.password-button {
  margin: 1em 0em 1.5em 29.4em;
  font-size: 2em;
}

.mypage-edit-button {
  margin-left: 2em;
  font-size: 2em;
}

.my-camp-main-box {
  height: 80em;
}