.serchmain-button {
  border-color: bisque;
  background-color: bisque;
}

.serchmain-main-button {
  width: 9em;
  height: 4em;
  margin-left: 0.5em;
}

.serchmain-serch-button {
  width: 9em;
  height: 4em;
  margin-left: 27.5em;
}

.serchmain-profile-button {
  height: 4em;
  width: 7.5em;
  margin-left: 2em;
}

.serchmain-text {
  text-align: center;
  font-size: 2em;
}

.serchmain-border {
  border: 2px solid bisque;
  margin: 2em 2em;
  padding: 1em;
}

.serchmain-mainbox {
  margin: 2em 2em 0em 2em ;
  border: 2px solid bisque;
}

.serchmain-sidebar {
  width: 20em;
  margin-top: 0em;
  float: left;
}

.serchmain-sidebutton {
  width: 7em;
  height: 3em;
  font-size: 2em;
  margin: 1.4em;
}

.serchmain-page-input {
  width: 90em;
  display: inline-block;
  border-left: 2px solid bisque;
}

.serchmain-input-text {
  font-size: 2em;
  margin: 2em 2em 0.5em 2em;
}

.input-box {
  width: 20em;
  height: 3.5em;
  margin: 0em 0em 2em 5em;
}

.password-button {
  margin: 1em 0em 1.5em 31em;
}

.mypage-edit-button {
  margin-left: 2em;
}

.serchmain-camp-main-box {
  height: 80em;
}