.serchmain-main-button {
  width: auto;
  height: auto;
  font-size: 3em;
  text-align: center;
}

.serchmain-serch-button {
  width: auto;
  height: auto;
  font-size: 3em;
  margin-left: 20em;
}

.serchmain-profile-button {
  width: auto;
  height: auto;
  font-size: 3em;
  margin-left: 2em;
}

.serchmain-border {
  border: 2px solid bisque;
  padding: 1em;
}

.serchmain-mainbox {
  margin: 10em 0em 0em 0em ;
  border: 2px solid bisque;
}

.serchmain-sidebar {
  display: flex;
  width: 20em;
  margin-top: 0em;
  flex-direction: column
}

.serchmain-sidebutton {
  height: 3em;
  font-size: 1.5em;
  margin: 1.4em;
}

.setInput {
  padding-top: 0.3rem;
  font-size: 1.2rem;
  width: 99%;
  outline: none;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-width: 0.5px;
  margin: 0.5em 0em 2em 0em ;
  border-color: rgba(0, 0, 0, 0.1);
}