.c-business-main-button {
  width: auto;
  height: auto;
  font-size: 3.5em;
  border: white;
  background-color: white;
  text-shadow: 2px 2px 2px rgb(243, 185, 68);
  color: rgb(198, 138, 18);
  margin: 0em 0em 1em 0.4em;
}

.c-business-profile-button {
  width: 3em;
  margin-left: 78.7em;
  margin-right: 0em;
}

.c-business-main-box {
  margin: 2em 2em 0em 2em ;
  border: 2px solid bisque;
}

.c-business-sidebar {
  width: 20em;
  margin-top: 0em;
  float: left;
}

.c-business-side-button {
  width: 10em;
  height: 6em;
  font-size: 2em;
  background-color: white;
  border: white;
}

.c-business-page-input {
  width: 90em;
  display: inline-block;
  border-left: 2px solid bisque;
  text-align: center;
  height: 48em;
}

.c-business-page-signout {
  font-size: 5em;
  margin: 2em 2em 0.5em 2em;
  height: auto;
}

.c-business-input-box {
  width: 20em;
  height: 3.5em;
  margin: 0em 0em 2em 5em;
}

.c-business-sign-out-button {
  margin: auto;
  height: 3em;
  width: 5em;
  font-size: 0.5em;
}

.c-business-sign-out-input {
  margin-top: 1em;
  margin-bottom: 8em;
  height: 3em;
  width: 20em;
}