.business-button {
  border-color: bisque;
  background-color: bisque;
}

.business-main-button {
  width: 9em;
  height: 4em;
  margin-left: 0.5em;
}

.business-profile-button {
  height: 4em;
  width: 7.5em;
  margin-left: 38em;
}

.business-text {
  text-align: center;
  font-size: 2em;
}

.business-border {
  border: 2px solid bisque;
  margin: 2em 2em;
  padding: 1em;
}

.business-main-box {
  margin: 2em 2em 0em 2em ;
  border: 2px solid bisque;
}

.business-sidebar {
  width: 20em;
  margin-top: 0em;
  float: left;
}

.business-side-button {
  width: 7em;
  height: 3em;
  font-size: 2em;
  margin: 1.4em;
}

.business-page-input {
  width: 90em;
  display: inline-block;
  border-left: 2px solid bisque;
  text-align: center;
  height: 48em;
}

.business-page-signout {
  font-size: 5em;
  margin: 2em 2em 0.5em 2em;
  height: auto;
}

.business-input-box {
  width: 20em;
  height: 3.5em;
  margin: 0em 0em 2em 5em;
}

.business-sign-out-button {
  margin: auto;
  height: 3em;
  width: 5em;
  font-size: 0.5em;
}

.business-sign-out-input {
  margin-top: 1em;
  margin-bottom: 8em;
  height: 3em;
  width: 20em;
}